.file-list {
  .empty-container {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    text-align: center;
    color: #666;
  }
  .file-list-item {
    min-height: 3.5rem;
    .icon {
      font-size: 1rem;
    }
    .file-name {
      flex: 1;
      word-break: break-word;
      cursor: pointer;
      transition: color 0.175s linear;
      &:hover {
        opacity: 0.75;
      }
    }
    .file-title-input {
      flex: 1;
    }
    .icon-button {
      background-color: transparent;
      border: none;
      color: inherit;
      border-radius: 100%;
      width: 2.35rem;
      height: 2.35rem;
      transition: background-color 0.175s linear;
      &:hover {
        background-color: #fff;
      }
      &:active {
        background-color: #eee;
      }
      .icon {
        font-size: 1rem;
      }
    }
  }
}
