body {
  background-color: rgb(69, 162, 239);
}

.page {
  height: 100vh;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

::-webkit-scrollbar {
  display: none;
}
